[submodule "programs"]
	path = programs
	url = https://github.com/credit-markets/vitalfi-programs.git
[submodule "backend"]
	path = backend
	url = https://github.com/credit-markets/vitalfi-backend.git
[submodule "app"]
	path = app
	url = https://github.com/credit-markets/vitalfi-app.git
